.employee-layout{
    display:flex;
    min-height:100vh;
    background:#f4f7fc;
}

.employee-content{
    flex:1;
    margin-left:250px;
    padding:30px;
}

@media(max-width:900px){

.employee-content{
    margin-left:0;
    padding:20px;
}

}